html 
    head 
        title=titulo 
    body 
        h1=titulo 
        span=min 
        meter(min=min,max=max, value=nivel)
        span=max
    style(type="text/css").
        body{
            background-color: grey;
        }